<header class="header">

  <a href="/" class="header__logo">
    <img src="/img/BlogPreskilet.png" class="header__logo-img" alt="PreskiletBlog">
  </a>


   <div class="header__button">
    <button class="dots-button" aria-expanded="false">
      <svg width="5" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="8.5" cy="2" r="1.5" fill="black"/>
        <circle cx="8.5" cy="8.5" r="1.5" fill="black"/>
        <circle cx="8.5" cy="15" r="1.5" fill="black"/>
      </svg>
    </button>
    <!-- Dropdown Menu -->
    <div class="dropdown-menu">
      <ul>
        <li><a href="/feedback">Feedback</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/signout">Sign Out</a></li>
      </ul>
    </div>
  </div>
  
</header>
